@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body{
 margin:  0;
 padding: 0;
 box-sizing: border-box;
}

.gradientText{
  @apply bg-gradient-to-r from-purple-500 via-pink-500 to-yellow-500 bg-clip-text text-transparent 
}

.link1{
  @apply  text-center duration-300 hover:bg-red-400  px-1 rounded hover:text-black w-24 text-slate-300 font-medium  
}

.link{
  @apply bg-white text-black text-center duration-300 hover:bg-red-300 hover:font-medium  px-1 rounded hover:text-white w-24
}