.pieChartBox{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    
}
.chart{
    display: flex;
    align-items: center;
    justify-content: center;
}
.options{
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-align: center;
     gap: 10px;
    
     
}
.title{
  display: flex;
  align-items: center;

}
.dot{
    border-radius: 50%;
    width: 10px;
    height: 10px;
    text-align: center;
}

