.listItem{
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    gap: 20px;
    padding: 0px 20px;
}

.user{
    display: flex;
    justify-content: space-between;

}
.email{
    font-size: 14px;
}
.userTexts{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
   
}


