@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}


.service .service-item i {
  color: #202C45;
  font-size: 75px;
  line-height: 75px;
  margin-bottom: 20px;
}

.service-icon [class^="flaticon-"]::before {
  margin: 0;
  font-size: 60px;
  line-height: 60px;
  background-image: linear-gradient(#52b5ed, #202C45);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  transition: .5s;
}

.link,.link1{
  @apply hover:text-black
}


.background{ 
  background: rgba(0, 0, 0, 0.3);
}